<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzw.account.dao.PermissionDao">
    <!--Mybatis mapper文件-->
    <select id="findPermissionInfoByUserId" parameterType="String" resultType="com.xzw.account.entity.PermissionInfo">
        SELECT tp.*
        FROM tb_user as u
                 LEFT JOIN tb_user_role as ur on ur.user_id = u.id
                 LEFT JOIN tb_role as r on r.id = ur.role_id
                 LEFT JOIN tb_role_permission as trp on trp.role_id = r.id
                 LEFT JOIN tb_permission as tp on tp.id = trp.permission_id
        where u.id = #{userId};
    </select>

</mapper>